#home{
	width: 100%;
	height: 400px;
	background:url('../images/night_sky1.jpg') no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color:white;
	border-bottom: 8px solid #dbb98f;
}

#quoteText{
	margin-top: 5%;
}
#quote-div{
	margin-top: 20%;
	}

#quote{
    margin-top: 5%;
    font-size: 30px;
	font-style: oblique;
}
#quoteButton{
	margin-top: 3%;
	background-color: #334959;
	padding: 10px;
	border: none;
}

.quote {
  padding: 1em 1.5em 0;
  font-size: 2em;
  font-weight:400;
}

.author {
	font-size: 1.5em;
	font-style: italic;
  }